.carrousel {
    border: solid 2px black;
    width: 100%;
    max-width: 120em;
    height:auto;
}

.butt-shop {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 140px;
}